# python
__pycache__
build/
*.egg-info

# reframe
reframe/
reframe.log
reframe.out
stage/
output/
perflogs/
apps/castep/downloads/
apps/wrf/downloads/
apps/gromacs/downloads/
benchmarks/.env

# other
setup/.sslconfig
Miniconda*.sh
working/
outdated/

# jupyter checkpoints:
*-checkpoint.ipynb

#ignore virtual environment
myvenv/

# docs
site/

#emacs backups
*~
benchmarks/apps/microbench-lofarint/LOFARINT_Data/
benchmarks/apps/microbench-lofarint/LOFARINT_Code/

# vim
.*.swp
